*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans',sans-serif;
}
body{
    width: 100%;

}
.head{
    height: 90vh;
    background-image: linear-gradient(rgb(31, 29, 29),rgb(26, 24, 24,0.3)),url(./bg.avif);
    background-size: cover;
    background-position: center;
    padding: 0 2rem;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: aliceblue;
    font-size: 1rem;
}
a:hover{
    color: orange;
}
.navbar{
    width: 100%;
    height: 70px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
   
   
}
.toggle img{
    width: 50px;
    height: 10px;
    display: none;
    cursor: pointer;
}
.navbar .logo a, footer .logo a{
    font-size: 30px;
    font-weight: bold;
}

.navbar .links{
    display: flex;
    gap: 60px;
}
.action-btn{
    background-color: orange;
    color: aliceblue;
    padding: 10px;
    margin-left: 50px;
    border: none;
    outline: none;
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
}
.action-btn:hover{
    color: aliceblue;
    background-color: black;
    transition: all 0.2s;
}
.content{
    width: 100%;
   height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
}
.content h1{
    color: aliceblue;
    font-size: 50px;
}
.content p{
    color: aliceblue;
    font-size: 20px;
}
.form{
    width: 70%;
    height: 150px;
    background-color:rgb(250, 244, 244,0.6);
    border: none;
    margin: -60px auto auto auto;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    padding: 50px;
    align-self: center;
    backdrop-filter: blur;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}
form input{
    font-size: 20px;
    width: 130px;
    color: black;
    
    background-color: transparent;
    border-bottom:1px solid rgb(148, 142, 142) ;
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
}
form input:hover, form input:focus{
    
    outline: none;
}
form .search{
    background-color: orange;
    color: aliceblue;
    padding: 15px;
    margin-left: 25px;
    border: none;
    outline: none;
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
}
.about{
    width: 100%;
    padding: 50px;
    height: 90vh;
   align-items: center;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 4rem;
    
    
}
.about-content{
    padding: 30px;
}
.about-content h1{
    font-size: 50px;
    color: black;
}
.about-content hr{
    width: 100px;
    background-color: orange;
    height: 5px;
    border: none;
    border-radius: 10px;
}
.about-content p{
    max-width: 600px;
        color:black;
        font-size: 15px;
        font-weight: 400;
        line-height: 1.7;
        margin-bottom: 10px;
}
.about-content .action-btn{
    margin: auto;
}
.img-box img{
    max-width: 100%;
    width: 500px;
        height: 400px;
}
.rooms{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
   background-color: rgb(245, 243, 240);
}
.headings{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.headings h2{
    font-size: 25px;
}
.headings p{
    font-size:30px ;
}
.boxes{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
    padding: 30px;
    flex-wrap: wrap;
}
.room-detail{
    align-items: center;
    border: none;
    background-color:rgb(250, 244, 244,0.6) ;
    backdrop-filter: blur;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.room-detail img{
    align-self: center;
    width: 300px;
    height: 200px;
}
.room-detail h3,.reviews h3{
    margin: 10px 0 10px 0;
}
.room-detail p,.reviews p{
    margin: 10px 0 10px 0;
    
}
.room-detail .action-btn{
    margin: auto;
}
.testimonials{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

}
.reviews{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
   background-color: white;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.reviews img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
}
footer{
    background-color: black;
    padding: 50px 0 0 50px;
    margin-top:30px ;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    height: 40vh;
    
}
footer li{
    list-style: none;
    display: inline-block;
    margin: 10px;
}
.footer-menu a{
    text-decoration: none;
    color:white;
}
.contact-info{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin: 20px 0 20px 0;
    width: 600px;
    align-self: center;
}
.info{
    display: flex;
    justify-content: center;
}
.info address{
    color: orange;
}

footer p{
    margin: 10px 0 0 0;
    color: aliceblue;
}


@media (max-width:992px){
    .navbar .links ,.navbar .action-btn{
        display: none;

    }
    .toggle img{
        display: block;
    }
    
}
@media (max-width: 992px) {
    .navbar .links,
    .navbar .action-btn {
        display: none;
    }
    .toggle img {
        display: block;
    }
    .head {
        height: 80vh;
        padding: 0 1rem; 
    }

    .about {
        padding: 30px 1rem; 
    }

    .content,
    .form,
    .rooms,
    footer {
        padding: 30px 1rem; 
    }
    .rooms, .testimonials{
        height: auto;
    }
    .boxes {
       
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
}

@media (max-width: 768px) {
    .head {
        height: 70vh;
    }
    .content {
        height: auto;
        padding: 30px;
    }
    .form {
        width: 90%;
        height: auto;
        padding: 20px;
        margin: -30px auto auto auto;
    }
    .about {
        height: auto;
        padding: 30px;
        grid-template-columns: 1fr;
    }
    .about-content h1 {
        font-size: 40px;
    }
    .img-box img {
        width: 100%;
        height: auto;
    }
    .rooms ,.testimonials {
        height: auto;
        padding: 30px;
    }
    .room-detail img ,.reviews img{
        width: 100%;
        height: auto;
    }
    footer {
        height: auto;
        padding: 20px;
        

    }
    .contact-info {
        grid-template-columns: repeat(2, 1fr); 
        width: 80%; 
    }
    
    footer li {
        display: block;
        margin: 10px 0; 
    }
    .contact-info {
        grid-template-columns: 1fr;
        width: 90%;
        margin: 10px auto;
    }
}

@media (max-width: 576px) {
    .head{
        height: 65vh;
    }
    .navbar {
        padding: 5px;
    }
    .navbar .logo a,
    footer .logo a {
        font-size: 25px;
    }
    .action-btn {
        padding: 8px;
        margin-left: 20px;
        font-size: 12px;
    }
    .content h1 {
        font-size: 30px;
    }
    .content p {
        font-size: 15px;
    }
    .form {
        padding: 15px;
        border-radius: 15px;
        width: 75%;
        flex-direction: column; 
        align-items: center; 
    }
    form input {
        font-size: 15px;
        width: auto; 
        margin-bottom: 10px; 
        align-self: center;
    }
    form .search {
        margin-left: 0; 
        align-self: flex-end;
    }
    .about-content h1 {
        font-size: 30px;
    }
    .about-content hr {
        width: 70px;
        height: 3px;
        border-radius: 5px;
    }
    .about-content p {
        font-size: 13px;
    }
    .boxes{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
    }
    .rooms ,.testimonials{
        height:fit-content;
    }
    .room-detail h3,
    .room-detail p ,.reviews h3 ,.reviews p{
        font-size: 14px;
    }
    footer {
        padding: 20px 0; 
    }
    footer p {
        font-size: 12px;
    }
    .contact-info {
        grid-template-columns: 1fr; 
        width: 90%; 
    }
}
